<h1>About AAPPred</h1>
<p>AAPPred epitope prediction software based on the algorithm described in the
article <a href="http://www.ncbi.nlm.nih.gov/pubmed/17252308">Prediction of
linear B-cell epitopes using amino acid pair antigenicity scale</a>.
<p>The good statistical performance of the model was demonstrated in
two benchmarks
(<a href="https://doi.org/10.2174/0929866511320060011">Costa et
al. 2013</a>,
<a href="https://doi.org/10.2174/1574893612666170711154318">Wang et al. 2018</a>).
<p>We have implemented two modes: first (SVM1) one is based on amino
acids pair (AAP) frequencies and classical amino acids scales such as
hydrophilicity, flexibility, etc. SVM2 uses only AAP frequencies to
predict epitopes. The source code is available
from <a href="https://bitbucket.org/Davydov/aappred/">the repository</a>.
<p>Our dataset contains not only publicly available data but also our proprietary
experimental data.
<p>This is <a href="http://en.wikipedia.org/wiki/Receiver_Operating_Characteristic">
ROC curve</a> for our algorithm:
<p><img src="/static/roc.png" alt="ROC of AAPPred">
<h1>Use it</h1>
You can find the software here: <a href="predict">AAPPred</a>.
<p> Please cite us:

Ya.I. Davydov, A.G. Tonevitsky, 2009, published in <a href="http://dx.doi.org/10.1134/S0026893309010208">Molekulyarnaya Biologiya, 2009, Vol. 43, No. 1, pp. 166&ndash;174</a>.
<h1>Authors</h1>
I. I. Davydov (<img alt="email" src="/static/email.png">), A. G. Tonevitsky
